services:
  openlistsync:
    image: syscc/openlistsync:latest
    restart: always
    container_name: openlistsync
    network_mode: bridge
    ports:
      - "8023:8023"
    user: '1000:1001'
    environment:
      - dst=/shanct/电视剧
      - TVsource=/media/电视剧
      - MOVsource=/media/电影
      - WEBHOOK_DELAY=60
      - SYNC_TV_TARGETS=/115/videos/电视剧,/ODC/{odc_tv}/电视剧
      - SYNC_MOV_TARGETS=/115/videos/电影,/ODC/{odc_mov}/电影
      - REFRESH_TV_TARGETS=/115/videos/电视剧,/ODC/{odc_tv}/电视剧,/videos/电视剧
      - REFRESH_MOV_TARGETS=/115/videos/电影,/ODC/{odc_mov}/电影,/videos/电影 
    volumes:
      - ./data:/app/data
