version: "3.8"
services:
  openlistsync:
    image: syscc/openlistsync:latest
    container_name: openlistsync
    restart: always
    network_mode: bridge
    ports:
      - "8023:8023"
    user: "1000:1001"
    environment:
      - WEBHOOK_DELAY=60 # Webhook延迟触发秒数 取决是否需要等MoviePilot刮削完成后同步，如果不需要可以设置为3
      - TVsource=/media/电视剧        # 电视剧源根目录
      - MOVsource=/media/电影        # 电影源根目录
      # DST开头变量适用于临时存放（如追新），整季完结后可删除并同步至SYNC路径
      # - DST_TV_TARGETS=/shanct/电视剧 # 优先同步电视剧到此集合；支持 ,;: 分隔
      # - DST_MOV_TARGETS=/shanct/电影  # 优先同步电影到此集合；支持 ,;: 分隔
      # - DST_REFRESH_TV=/media/电视剧,/videos/电视剧 # DST 同步时的刷新集合；支持 ,;: 分隔
      # - DST_REFRESH_MOV=/media/电影,/videos/电影    # DST 同步时的刷新集合；支持 ,;: 分隔
      - SYNC_TV_TARGETS=/115/videos/电视剧,/ODC/{odc_tv}/电视剧   # 回退电视剧同步集合；{odc_tv} → /ODC/tvX
      - SYNC_MOV_TARGETS=/115/videos/电影,/ODC/{odc_mov}/电影     # 回退电影同步集合；{odc_mov} → /ODC/movX
      - SYNC_REFRESH_TV=/115/videos/电视剧,/ODC/{odc_tv}/电视剧,/videos/电视剧 # SYNC 同步时的刷新集合
      - SYNC_REFRESH_MOV=/115/videos/电影,/ODC/{odc_mov}/电影,/videos/电影   # SYNC 同步时的刷新集合
    volumes:
      - ./data:/app/data